{% extends 'base.html' %} {% block mainCont %} {% load static %}
<!-- Cart Section Product Begins  -->
<section class="cartSec">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <p class="text-center categoriesMainTitle">
            Your Cart : ₹17999
          </p>
          <button class="btn text-center checkoutNowBtn">Checkout Now <i class="fas fa-shopping-cart"></i></button>
          <hr class="style5">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-10 col-12 m-auto">
          <div class="card cartSecCard">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-4">
                <a href="#">
                <img src="{% static 'image/shirwani.jpg' %}" class="img-fluid cartSecCardImage" alt="">
                </a>
              </div>
              <div class="col-lg-8 col-md-8 col-8">
                <a href="#">
                <p class="card-title cartSecCardTitle">
                  Modern Day Shirwani 
                </p>
              </a>
                <p class="cartSecCardPrice">
                  ₹7999
                </p>
                <p class="cartSecCardSize">
                  Size: <strong>S</strong>
                </p>
                <p class="cartSecCardPara d-none d-sm-none d-md-block d-lg-block">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  obcaecati laboriosam.. <a href="#">view more</a>
                </p>
                <button class="btn cartSecCardBtn">Remove Item <i class="fa fa-trash" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-10 col-12 m-auto">
          <div class="card cartSecCard">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-4">
                <a href="#">
                <img src="{% static 'image/shirwani.jpg' %}" class="img-fluid cartSecCardImage" alt="">
                </a>
              </div>
              <div class="col-lg-8 col-md-8 col-8">
                <a href="#">
                <p class="card-title cartSecCardTitle">
                  Modern Day Shirwani 
                </p>
              </a>
                <p class="cartSecCardPrice">
                  ₹7999
                </p>
                <p class="cartSecCardSize">
                  Size: <strong>S</strong>
                </p>
                <p class="cartSecCardPara d-none d-sm-none d-md-block d-lg-block">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  obcaecati laboriosam.. <a href="#">view more</a>
                </p>
                <button class="btn cartSecCardBtn">Remove Item <i class="fa fa-trash" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-10 col-12 m-auto">
          <div class="card cartSecCard">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-4">
                <a href="#">
                <img src="{% static 'image/shirwani.jpg' %}" class="img-fluid cartSecCardImage" alt="">
                </a>
              </div>
              <div class="col-lg-8 col-md-8 col-8">
                <a href="#">
                <p class="card-title cartSecCardTitle">
                  Modern Day Shirwani 
                </p>
              </a>
                <p class="cartSecCardPrice">
                  ₹7999
                </p>
                <p class="cartSecCardSize">
                  Size: <strong>S</strong>
                </p>
                <p class="cartSecCardPara d-none d-sm-none d-md-block d-lg-block">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  obcaecati laboriosam.. <a href="#">view more</a>
                </p>
                <button class="btn cartSecCardBtn">Remove Item <i class="fa fa-trash" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-10 col-12 m-auto">
          <div class="card cartSecCard">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-4">
                <a href="#">
                <img src="{% static 'image/shirwani.jpg' %}" class="img-fluid cartSecCardImage" alt="">
                </a>
              </div>
              <div class="col-lg-8 col-md-8 col-8">
                <a href="#">
                <p class="card-title cartSecCardTitle">
                  Modern Day Shirwani 
                </p>
              </a>
                <p class="cartSecCardPrice">
                  ₹7999
                </p>
                <p class="cartSecCardSize">
                  Size: <strong>S</strong>
                </p>
                <p class="cartSecCardPara d-none d-sm-none d-md-block d-lg-block">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  obcaecati laboriosam.. <a href="#">view more</a>
                </p>
                <button class="btn cartSecCardBtn">Remove Item <i class="fa fa-trash" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>
  <!-- Cart Section Product Ends  -->
{% endblock mainCont %}