<!-- Footer Begins Here  -->
<section class="footerId">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 justify-content-center text-center footer-div">
          <h4 class="footerH4">eFashionBazar</h4>
          <p class="text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Aut amet magni maiores fugiat doloribus at rerum
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 justify-content-center text-center footer-div">
          <h4 class="footerH4">Navigation links</h4>
          <li><a href="#">Men</a></li>
          <li><a href="#">Women</a></li>
          <li><a href="#">Kids</a></li>
          <li><a href="contactus.html">Contact Us</a></li>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 justify-content-center text-center footer-div">
          <h4 class="footerH4">Social Links</h4>
          <li><a class="fbitext" href="#">Facebook <i class="fab fa-facebook-f fbi" aria-hidden="true"></i></a>
          </li>
          <li><a class="twitext" href="#">Twitter <i class="fab fa-twitter twi" aria-hidden="true"></i></a>
          </li>
          <li><a class="insitext" href="#">Instagram <i class="fab fa-instagram insi" aria-hidden="true"></i></a></li>
          <li> <a class="youtubetext" href="#">Youtube <i class="fab fa-youtube yti" aria-hidden="true"></i></a></li>
        </div>
      </div>
      <div class="mt-4 text-center">
        <p class="text-white">Copyright <i class="far fa-copyright" aria-hidden="true"></i> <span
            id="copyrightYear"></span> | All Right Reserved. Developed with <i class="fa fa-heart loveRC"
            aria-hidden="true"></i> by <a href="https://www.ripechilli.com" target="_blank"
            id="RipeChilli">RipeChilli</a> .
        </p>
      </div>
    </div>
  </section>
  <!-- Footer Ends Here  -->