{% extends 'base.html' %} {% block title %} My Orders - EfashionBazaar
{%endblock title %} {% block mainCont %} {% load static %}
<section class="myOrdersSec">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">
        <p class="text-center categoriesMainTitle">My Orders</p>
        <hr class="style5" />
      </div>
    </div>
    <div class="row">
      {% if order %}
      {% for i in order %}
      {% for j in i.items.all %}
      <div class="col-lg-6 col-md-10 col-12 m-auto">
        <div class="card cartSecCard">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-4">
              <a href="{% url 'product-detail' j.item.id %}">
                <img src="{{ j.item.p_image.url }}" class="img-fluid cartSecCardImage" alt="{{ j.item.p_name }}" />
              </a>
            </div>
            <div class="col-lg-8 col-md-8 col-8">
              <a href="{% url 'product-detail' j.item.id %}">
                <p class="card-title cartSecCardTitle">{{ j.item.p_name }}</p>
              </a>
              <p class="cartSecCardPrice">
                {% if j.item.p_dis_price %}
                <del class="priceoff"> ₹{{j.item.p_price}} </del>
                ₹{{j.item.p_dis_price}} {% else %} ₹{{j.item.p_price}}
                <!--  -->
                {% endif %}
              </p>
              <p class="cartSecCardSize">Size: <strong>{{j.size}}</strong></p>
              <p class="cartSecCardSize">
                Qty: <strong> {{j.quantity}} </strong>
              </p>
              <p class="cartSecCardPara d-none d-sm-none d-md-block d-lg-block">
                {{ j.item.p_desc|slice:"0:72" }}...
                <a href="{% url 'product-detail' j.item.id %}">view more</a>
              </p>
              <a href="{% url 'track' %}" class="btn cartSecCardBtn">
                Track Order
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <!--  -->
      {% endfor %} {% else %}
      <div class="col-lg-8 col-12">
        <img src="{% static 'image/empty_cart.svg' %}" class="img-fluid undrawImage" alt="" />
      </div>
      <div class="col-lg-4 col-12">
        <p class="noMyOrders">
          Oops! No Item.
          <a class="btn shopNowBtn" href="{% url 'landing' %}">Shop Now</a>
        </p>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock mainCont %}