{% extends 'authenBase.html' %}
{% block mainCont %}
    <!-- Login Form Begins  -->
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-7 col-sm-9 mx-auto">
                <div class="card cardSignin">
                    <div class="card-body">
                        <div class="card-title text-center">
                            Enter Password
                        </div>
                        <form class="form-signin">

                            <div class="form-label-group mb-4">
                                <label class="mt-2 mb-0 labelForInput" for="inputPassword">Password</label>
                                <input type="password" id="inputPassword" class="form-control inputFormLogin"
                                    placeholder="Password" required>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase submitBtnLogin"
                                type="submit">Log in</button>
                            <hr class="hr-text" data-content="Don't have an account">

                            <a class="btn btn-lg btn-primary btn-block text-uppercase submitBtnLogin" href="signup.html">Create Your Account</a>
                            <!--   <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
                            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login Form Ends  -->
{% endblock mainCont %}