{% extends 'base.html' %}
{% block title %}Search Results - EfashionBazaar{% endblock title %}
{% block mainCont %}
{% load static %}
<!-- Searched Item Begins  -->
<section class="searchedItem">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <p class="text-center categoriesMainTitle">
                    Results:
                </p>
                <hr class="style5">
            </div>
        </div>
        <div class="row">
            {% if prod %}
            {% for i in prod %}
            <div class="col-lg-3 col-md-6 col-6">
                <a href="{% url 'product-detail' i.id %}">
                    <img src="{{ i.p_image.url }}" class="img-fluid productSecCardImage" alt="{{ i.p_name }}">
                    <p class="text-center productSecCardTitle">
                        {{ i.p_name }}
                    </p>
                    <p class="text-center productSecCardPrice">
                        {{ i.p_price }}
                    </p>
                </a>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-lg-6 col-12">
                <img src="{% static 'image/mobile_login.svg' %}" class="illustrator"
                    alt="Undraw illustrations EfashionBazaar">
            </div>
            <div class="col-lg-6 col-12">
                <h1 class="illustratorTitle">Nothing Matched</h1>
                <p class="illustratorPara">Try searching with different keywords</p>
                <a data-toggle="collapse" href="#searchItem" role="button" aria-expanded="false"
                    aria-controls="searchItem" class="btn loginBtnIllus">Search Again</a>

            </div>

            {% endif %}
        </div>
    </div>
</section>
<!-- Searched Item Ends  -->
{% include 'footer.html' %} {% endblock mainCont %}